@model PuzzleQuestMvc.Models.Quest

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.QuestName)</h2>


    @{
        var orderedPuzzles = Model.QuestPuzzles.OrderBy((q) => q.QuestPuzzleOrder);
        int puzzleIndex = 1;
    }

<table>
    @foreach (var puzzle in orderedPuzzles)
    {
        if (puzzle.PuzzleStatus > 0)
        {
            <tr>
                <td>
                    @Html.Raw(puzzleIndex.ToString())
                    @{
                        puzzleIndex++;
                     }
                </td>
                <td>
                    @{
                        var actionName = "Details";
                        if (puzzle.PuzzleStatus == 1)
                        {
                            actionName = "Activate";
                        }
                        
                        if (puzzle.PuzzleStatus == 2)
                        {
                            actionName = "Current";
                        }
                    }
                    @Html.ActionLink(puzzle.Puzzle.PuzzleName, actionName, "QuestPuzzle", new { puzzleId = puzzle.PuzzleId, questId = puzzle.QuestId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => puzzle.PuzzleStatusText)
                </td>
            </tr>
        }
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
