@model PuzzleQuestWeb.Models.QuestPuzzle

@{
    ViewBag.Title = "Puzzle";
}

<h2>@Html.DisplayFor(model => model.Puzzle.PuzzleName)</h2>

@if (Model.Puzzle.PuzzleType == PuzzleQuestWeb.PuzzleKind.Image)
{
    var fileName = Html.Encode("Content/resources/" + @Model.Puzzle.PuzzleResourceFileName);
    <img src = "/@fileName" />
}
else
{
    <p>
        @Html.Raw(Model.Puzzle.PuzzleText.Replace("\r\n", "<br>"))
    </p>
}

@{
    var sortedHints = Model.Puzzle.Hints.OrderBy(h => h.HintOrder).ToList();
    int hintIndex = 0;
}

<h3>Hints</h3>
<ol>
@while (hintIndex < Model.NextHintIndexToDisplay)
{
    <li>
        @Html.Raw(sortedHints[hintIndex].HintText.Replace("\r\n", "<br>"))
        @{
            hintIndex++;
        }
    </li>
}
</ol>

<h3>Solution</h3>

@Html.Raw(Model.Puzzle.PuzzleSolutionText)

<p>
    @Html.ActionLink("Back to List", "QuestDetails", "User", new { id = Model.QuestId }, null)
</p>
